/* These includes are optional, but helpful. */
{% include "hubspot/styles/responsive/modules.css" %}
{% include "hubspot/styles/patches/recommended.css" %}


/* = Table of Contents =

1.0 Reset
2.0 Base
3.0 Layout
4.0 Page Specific
4.5 Interior Pages
5.0 Media Queries

*/



/* 1.0 Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; } body {line-height: 1; } ol, ul {list-style: none; } blockquote, q {quotes: none; } blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; } table {border-collapse: collapse; border-spacing: 0; }



/* 2.0 Base */
@font-face {
    font-family: 'FontAwesome';
	src: url("https://cdn2.hubspot.net/hub/405650/file-2091454200-eot/fonts/fontawesome-webfont.eot");
	src: url("https://cdn2.hubspot.net/hub/405650/file-2091454200-eot/fonts/fontawesome-webfont.eot") format("embedded-opentype"), url("https://cdn2.hubspot.net/hub/405650/file-2091418980-woff/fonts/fontawesome-webfont.woff") format("woff"), url("https://cdn2.hubspot.net/hub/405650/file-2086759618-ttf/fonts/fontawesome-webfont.ttf") format("truetype"), url("https://cdn2.hubspot.net/hub/405650/file-2091418990-svg/fonts/fontawesome-webfont.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

body {
    background: #e2e2e2;
    color: #555;
    font-size: 16px;
	line-height: 1.5;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

a {
    color: #1e7eaf;
	text-decoration: none;
}

a[id^="cta_button"] {
	border-radius: 5px 42px 42px 5px !important;
	color: #FFF;
	font-family: "Source Sans Pro", sans-serif !important;
	font-size: 20px;
	font-weight: 700 !important;
	padding: 10px 24px;
}

h1, h2, h3 {
	line-height: 1.2em;
	margin-bottom: 0.8em;
}

h1 {
	color: #fff;
    font-family: "Exo", sans-serif;
	font-size: 60px;
	font-weight: 400;
	line-height: 1em;
    margin: 0.8em 0;
    text-shadow: 2px 2px 2px rgba(0, 17, 41, 0.8);
}

h2 {
	color: #f07134;
	font-size: 30px;
	font-weight: 500;
    text-shadow: none;
}

h3 {
    color: #0b2a4c;
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

p {
	margin-bottom: 1em;
}

strong {
	font-weight: 700;
}

ul {
    margin-bottom: 1em;
    padding-left: 50px;
}

ul li {
    list-style-type: disc;
}

ul li span {
    font-weight: 500;
}

/* 3.0 Layout */

.container {
	float: none !important;
	margin: 0 auto !important;
	max-width: 1080px !important;
}

#header {
	padding: 1.4em 0 0;
}

.nav {
	text-transform: uppercase;
	margin-bottom: 2em;
}

.nav_utility a {
	color: #6199d3;
	font-size: 14px;
	font-weight: 600;
}

.nav_wrapper {
    background: url(https://cdn2.hubspot.net/hub/405650/file-2082104101-png/images/ldap/nav-corner.png) no-repeat left top transparent; 
    width: 1170px !important;
    float: none !important;
    margin: 0 auto !important;
    margin-bottom: 60px !important;
    position: relative;
}

.nav_wrapper .social_nav {
    position: absolute; 
    top: 25px; 
    right: 80px;
    width: 170px;
}

.nav_wrapper .social_nav a {
    color: #ffce98;
    font-size: 20px;
    padding: 0 9px;
}

.nav_primary {
    background: #f07134;
}

.nav_primary a {
	color: #FFF;
    font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 600;
}

.nav_primary ul {
    margin-bottom: 0;
    padding-left: 0;
}

.nav_primary ul li {
    list-style-type: none;
    position: relative;
}

.nav_primary li:after {
    color: #face9a;
    content: "/";
    font-size: 22px;
    position: absolute;
    top: 20px;
}

.nav_primary li:last-child:after {
    content: "";
}

.nav_primary .hs-menu-wrapper.hs-menu-flow-horizontal li a {
    max-width: 283px;
    padding: 20px 20px 0;
}

.navs li {
	letter-spacing: 0.04em;
	text-transform: uppercase;
}

.footer {
	background: url(https://cdn2.hubspot.net/hub/405650/file-2097592756-jpg/images/ldap/footer_bg.jpg) no-repeat top center / cover #151b20;
    font-family: "Roboto", sans-serif;
	padding: 4em 0;
	text-align: left
}

.footer .logo_block {
    color: #fff;
    float: left;
    font-size: 16px;
    width: 65%;
}

.footer .logo_block .sponsored_by {
    color: #466984;
    font-size: 22px;
}

.footer .logo_block .sponsored_by p {
    margin-bottom: 10px;
}

.footer .nav_address {
    color: #848c93;
    float: right;
    font-size: 16px;
    width: 25%;
}

.footer .nav_address strong {
    color: #fff;
    font-size: 20px;
}

.footer .logo_block img {
	margin-bottom: 30px;
	max-width: 180px;
}

.footer .nav_address .social_nav {
    margin-bottom: 45px;
}

.footer .nav_address .social_nav a {
    color: #547893;
    font-size: 20px;
    padding: 0 9px;
}

.footer .nav_address .social_nav a:first-child {
    padding-left: 0;
}

.footer .nav_address .email a {
    color: #f07134;
    font-weight: 500;
}


/* 4.0 Page Specific */

/* * 4.1 Home * */
body.home {
    background: url(https://cdn2.hubspot.net/hub/405650/file-2084210007-png/images/ldap/bg_texture.png) no-repeat center 366px #e2e2e2;
}

body.home .header-container-wrapper {
	background: url(https://cdn2.hubspot.net/hub/405650/file-2080117293-jpg/images/ldap/hero_bg.jpg) no-repeat center top / auto auto;
}

.header-container-wrapper {
    background: #041734;
    background: linear-gradient(to bottom, #041734 0px, #0b2b4d 50%, #154972 100%);
}

body.home .hero {
	color: #FFF;
	padding-bottom: 1.2em;
}

body.home .hero h3 {
	font-size: 24px;
	font-weight: 400;
}

body.home .belly {
	background: #fff;
    box-shadow: 0 -0 10px rgba(0,0,0,.3);
	padding: 3em 0;
    margin-top: -90px;
    padding-top: 135px;
    z-index: -5;
}

body.home .belly .blog {
	margin-bottom: 2em;
	position: relative;
}

body.home .belly .blog h3 {
	color: #696969;
    font-family: "Exo", sans-serif;
	font-size: 60px;
	font-weight: 300;
    text-align: center;
}

body.home .belly .blog .hs-rss-item {
    border-right: 1px solid #e1e1e1;
    display:; table;
    float: left;
    padding-right: 2%;
    width: 45%;
}

body.home .belly .blog .hs-rss-item:last-child {
    border: none;
    padding-left: 2%;
    padding-right: 0;
}

body.home .belly .blog .hs-rss-item-text {
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    position: relative;
    width: 85%;
}

body.home .belly .blog a.hs-rss-title {
	color: #f07134;
	display: table-footer-group;
    font-family: "Roboto", sans-serif;
	font-size: 30px;
	font-weight: 800;
	position: relative;
    text-align: center;
}

body.home .belly .blog .hs-rss-byline {
	color: #2e5073;
    display: table-header-group;
	font-size: 20px;
	font-weight: 400;
    opacity: 1;
    position: relative;
    height: 110px;
    min-height: 85px;
}

body.home .belly .hs-rss-byline .hs-rss-date {
    border-bottom: 1px solid #e1e1e1;
    color: #777;
    display: block;
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

body.home .belly .hs-rss-byline .hs-rss-author {
    color: #1e7eaf;
    display: block;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

body.home .belly .blog .hs-rss-description {
	font-size: 18px;
	line-height: 1.6;
    margin-top: 45px;
}

body.home .belly .blog .hs-rss-description p {
	margin-bottom: 0;
}

body.home .belly .blog .hs-rss-description a {
	border: 2px solid #f07134;
    color: #f07134;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 500;
    padding: 10px 25px;
	display: block;
	font-size: 14px;
	font-weight: 700;
	margin: 22px auto 0;
    max-width: 120px;
	padding: 15px 20px; 
	text-shadow: none;
    text-transform: uppercase;
    position: relative;
}

body.home .belly .blog .hs-rss-description a:after {
    content: "\f178";
    font-family: "FontAwesome";
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 20px;
    height: 10px;
}

body.home .belly .blog .hss-rss-item-image-wrapper {
	position: absolute;
}

body.home .belly .blog .icon {
	background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 150px;
    height: 150px;
    left: 40%;
    position: absolute;
    top: 120px;
    width: 150px;
}

body.home .belly .blog .icon img {
    padding: 53px 51px;
}

body.home .belly .blog .icon:before {
    color: #1e7eb1;
    content: "{";
    font-size: 60px;
    margin-right: 7px;
    position: absolute;
    left: 25px;
    top: 25px;
}

body.home .belly .blog .icon:after {
    color: #1e7eb1;
    content: "}";
    font-size: 60px;
    margin-left: 7px;
    position: absolute;
    right: 25px;
    top: 25px;
}

body.home .ldap {
	background: url(https://cdn2.hubspot.net/hub/405650/file-2089059365-jpg/images/ldap/ldap_bg.jpg) no-repeat top center / cover;
	color: #FFF;
	padding: 3.6em 0;
	position: relative;
	text-align: center;
    width: 1030px;
}

body.home a.button,
.hs-button {
    background: #f07134;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 500;
    padding: 10px 25px;
    transition: all .3s ease-in-out;
}

body.home a.button:hover,
.hs-button:hover {
    background: #0e375e;
}

.hs-button {
    margin-top: 1em;
    padding: 5px 10px;
}

body.home .ldap a.button i {
    font-size: 40px;
    font-weight: bold;
    margin-left: 30px;
    position: relative;
    top: 5px;
}

body.home .ldap h3 {
	color: #fff;
    font-family: "Exo", sans-serif;
    font-size: 50px;
    font-weight: 200;
}

body.home .ldap h3 span {
    color: #fff;
    font-family: "Exo", sans-serif;
    font-size: 50px;
    font-weight: 800;
}

body.home .ldap .container {
	position: relative;
}

/* LDAP */

.logo_group {
    width: 60% !important;
}

body.home #header .logo {
    margin-bottom: 25px;
    padding: 21px 45px;
}

#header .logo a {
    display: inline-block;
}

#header .logo {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 2em;
    padding: 35px 45px;
    width: auto !important;
}

#header .logo .ldap_logo {
    margin-bottom: 10px;
}

.cta {
    float: right;
    max-width: 483px;
}

.cta-image {
    float: right;
    width: 37% !important;
}

.cta-image img {
    float: left;
}

.cta-image p {
    background: url(https://cdn2.hubspot.net/hub/405650/file-2080413663-png/images/ldap/corner-right.png) no-repeat top right;
    clear: both;
    float: left;
    margin-bottom: 0;
    width: 465px;
}

.cta-image p a {
    background: url(https://cdn2.hubspot.net/hub/405650/file-2083856899-png/images/ldap/cta-arrow.png) no-repeat 300px 20px #f07134;
    color: #fff;
    display: block;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 0 7px 32px;
    width: 388px;
}

body .cta-header {
    background: #fff;
    padding: 33px 45px 24px;
    width: 100%;
}

body.home .cta-header {
    float: left;
}

.cta-header h2 {
    color: #1e7eaf;
    font-family: 'Exo', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.cta-header p {
    margin-bottom: 0;
}

.dig {
    background: url(https://cdn2.hubspot.net/hub/405650/file-2084349806-png/images/ldap/tab_top.png) no-repeat top center;
    color: #fff;
    padding-top: 53px;
    position: relative;
    margin-top: 60px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    z-index: 500;
}

.dig .dig_deeper h3 {
    color: #fff;
    font-family: "Exo", sans-serif;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
}

.dig .container {
    background: linear-gradient(to bottom, #081934 0px, #2e5073 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.dig i {
    color: #f07134;
    font-size: 50px;
    margin: 0 15px;
    text-align: center;
    position: relative;
    z-index: 500;
}

.dig .icon {
    margin-bottom: 30px;
}

.dig .icon div:before {
    content: "{";
    color: #1e7eaf;
    font-size: 60px;
}

.dig .icon div:after {
    content: "}";
    color: #1e7eaf;
    font-size: 60px;
}

.dig .getting_started,
.dig .clients_apps,
.dig .specs {
    padding: 0 45px;
}

.dig .getting_started h3,
.dig .clients_apps h3,
.dig .specs h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.dig .clients_apps h3 {
    color: #f07134;
    margin-top: 35px;
}

.dig .clients_apps {
    background: url(https://cdn2.hubspot.net/hub/405650/file-2087743494-png/images/ldap/banner_bottom.png) no-repeat bottom center;
    background-size: 100% auto;
    border-top: 15px solid #1e7eaf;
    color: #444444;
    margin-top: 30px;
    padding: 0 0 56px;
}

.dig .clients_apps .clients {
    background: #fff;
    padding: 0 42px 40px;
}

.dig .clients_apps .clients i {
    color: #fff;
    position: relative;
    top: 10px;
}

.dig_bottom {
   width: 100%;
}

.dig .button a,
a.all-posts-link,
.more-link {
    border: 2px solid #f07134;
    font-family: "Roboto", sans-serif;
    color: #f07134;
    padding: 10px 25px;
    transition: all .3s ease-in-out;
}

.more-link {
    display: inline-block;
    margin-bottom: 2em;
    padding: 5px 10px;
}

.dig .button a:hover,
.dig .button a:hover i,
a.all-posts-link:hover,
.more-link:hover {
    color: #0e375e;
    border-color: #0e375e;
}

a.all-posts-link {
    font-size: 18px;
}

.dig .button a i {
    position: relative;
    top: 10px;
}

body.home .body-container {
    padding-top: 0;
}

/* 4.5 Interior Pages */

.row-fluid .span4.aside {
    margin-left: 5%;
    width: 25%;
}

.body-container {
    padding-top: 2em;
}

.interior {
    margin-bottom: 3em;
}

.interior .logo {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    float: right;
    margin: 20px 0;
    padding: 25px;
}

.interior .logo span {
    display: block;
}

.interior .logo img {
    width: 100% !important;
}

.interior .logo .ldap_logo {
    margin-bottom: 10px;
}

.hs-content-path-choosing-the-right-ldap-server h1 {
    font-size: 50px;
}

.torso {
    padding-bottom: 2em;
}

.intro {
    color: #0b2b4d;
    font-size: 20px;
    font-weight: 400;
}


.subnav .hs-menu-wrapper ul {
    margin-bottom: 0;
    padding-left: 20px;    
}

.subnav .hs-menu-wrapper.hs-menu-flow-vertical > ul li.hs-menu-depth-1 {
    padding: 8px 0;
}

.subnav .hs-menu-wrapper.hs-menu-flow-vertical > ul li.hs-menu-depth-1 > a {
    padding: 0;
}

ul.hs-blog-social-share-list  {
    padding-left: 0;
}

ul.hs-blog-social-share-list li {
    list-style-type: none;
}

.post-item,
.blog-post-wrapper,
.widget-type-blog_comments,
.row-fluid .span8.content {
    background: #fff;
    border-radius: 0;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 3em;
    padding: 2em;
}

.row-fluid .span8.content {
    margin-top: 0;
}

.hs-blog-listing .widget-type-blog_comments {
    background: none;
    border: none;
    box-shadow: none;
}

.new-comments input {
    margin-bottom: 1em;
}

.new-comments .actions {
    margin-top: 1em;
}

.widget-type-blog_subscribe {
    border: 1px solid #0b2a4c;
    margin: 1em 0;
    padding: 1em;
}

h3#hs_cos_wrapper_blog_subscription_title {
    font-size: 24px;
}

.hs_cos_wrapper_type_post_filter .block,
.hs_cos_wrapper_type_post_listing .block {
    margin: 1em 0;
    padding: 1em;
}

.hs_cos_wrapper_type_post_filter .block li,
.hs_cos_wrapper_type_post_listing .block li {
    padding: 8px 0;
}

#hubspot-topic_data {
    font-weight: 500;
}

#hubspot-topic_data a {
    font-weight: 300;
}

/* 5.0 Media Queries */

@media only screen and (min-width: 768px) {

	/* 2.0 Base */

	h2 {
		font-size: 48px;
	}

	h3 {
		font-size: 36px;
	}

	h4 {
		font-size: 30px;
	}



	/* 3.0 Layout */

	.navs .hs-menu-wrapper.hs-menu-flow-horizontal>ul li:first-child a {
		padding-left: 0;
	}
	.nav_utility {
		height: 41px;
	}
	.nav_utility .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
		padding-bottom: 6px;
		padding-right: 6px;
		padding-top: 2px;
	}
	.nav_primary {
		margin-bottom: 24px;
	}



	/* 4.0 Page Specific */
	
	/* * 4.1 Home * */

	body.home .hero .wrapper {
		min-height: 366px;
	}

	body.home .architecture .feature {
		float: left;
		width: 33%;
	}

}

@media only screen and (max-width: 1170px) {
    
    /* * 4.1 Home * */

    .nav_wrapper {
        background: none; 
        width: auto !important;
        float: none !important;
        margin: 0 auto !important;
        margin-bottom: 60px !important;
        position: relative;
    }
    
    .nav_wrapper .social_nav {
        position: absolute; 
        top: 25px; 
        right: 80px;
        width: 170px;
    }
    
    .cta-image p {
        width: auto;
    }
    
        
    #footer {
        padding: 0 2em;
        position: relative;
    }
}

@media only screen and (max-width: 1100px) {

    .nav_wrapper {
        background: none; 
        width: auto;
        float: none !important;
        margin: 0 auto !important;
        margin-bottom: 60px !important;
        position: relative;
    }
    
    .nav_wrapper .social_nav {
        position: relative; 
        top: 25px; 
        float: right;
        right: 40px;
        width: 170px;
    }
    
    body.home .ldap {
        width: 100%;
    }
    
    .dig .clients_apps .clients i {
        display: none;
    }


    /* 4.0 Page Specific */

	/* * 4.1 Home * */

}

@media only screen and (max-width: 930px) {

    /* * 4.1 Home * */
    
    .logo_group,
    .cta-image {
        margin: 0 !important;
        width: 50% !important;
    }
    
    .teaxture_bg {
        padding: 0 2em;
    }
}

@media only screen and (max-width: 767px) {

    /* * 4.1 Home * */
    
    .logo_group,
    .cta-image {
        width: 100% !important;
    }
    
    body.home #header .logo {
        margin: 0 auto 2em;
        padding: 21px 45px;
        text-align: center;
        width: 350px !important;
    }
    
    .cta-header {
        text-align: center;
    }
    
    .cta {
        float: none;
        max-width: 100%;
    }
    
    .cta img,
    .cta p {
        clear: none;
        float: left;
        width: 50%;
    }
    
    .cta p a {
        width: auto;
    }
    
    .dig .container {
        padding-bottom: 50px;
    }
    
    .dig .clients_apps {
        background: none;
    }
    
    body.home .belly .blog .icon {
        display: none;
    }
    
    body.home .belly .blog .hs-rss-item {
        float: none;
        width: auto;
    }
    
    .header-container-wrapper {
        margin-bottom: 3em;
    }
    
    body.home .body-container-wrapper {
        padding: 0;
    }
    
    .body-container-wrapper {
        padding: 0 2em;
    }
    
    .interior .texture_bg .container  .row-depth-3.row-number-1 .row-fluid {
        display: table;
    }
    
    .interior {
        margin-bottom: 0;
    }
    
    .interior .logo {
        display: block;
        float: none;
        margin: 0 auto;
        width: 300px;
    }
    
    .interior h1 {
        width: 100%;
        text-align: center;
    }
    
    .interior .widget-type-header.header,
    .hs-blog-header.header {
        display: table-footer-group;
    }
    
    .row-fluid .span4.aside {
        margin-left: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 565px) {
    
    .nav_primary {
        padding-bottom: 1.5em;
    }

    .nav_primary .hs-menu-wrapper.hs-menu-flow-horizontal li a {
        max-width: 100%;
        text-align: center;
    }
    
    .nav_primary li:after {
        content: "";
    }
    
    .nav_wrapper {
        background: none; 
        width: auto;
        float: none !important;
        margin: 0 auto !important;
        margin-bottom: 60px !important;
        position: relative;
    }
    
    .nav_wrapper .social_nav {
        position: relative; 
        top: 25px; 
        float: none !important;
        width: 100%;
        margin: 0 auto;
        right: auto;
        text-align: center;
    }
    
    body.home #header .logo {
        width: 100% !important;
    }
    
    #header .logo img {
        width: 90% !important;
    }
    
    .footer .logo_block,
    .footer .nav_address {
        float: none;
        width: 100%;
    }
    
    .footer .nav_address .social_nav {
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }
    
    .footer {
        padding: 2em 0;
        text-align: center;
    }
    
    .footer .logo_block {
        margin-top: 3em;
    }
    
    .footer .logo_block .row-fluid-wrapper.row-depth-3.row-number-1,
    .footer .logo_block .row-fluid-wrapper.row-depth-3.row-number-2 {
        display: inline-block;
        margin-bottom: 2em;
        vertical-align: middle;
    }
    
    .footer .logo_block .row-fluid-wrapper.row-depth-3.row-number-2 img {
        margin: 0 1em;
    }

    .footer .logo_block .row-fluid-wrapper.row-depth-3.row-number-3 {
        clear: both;
        margin-bottom: 2em;
    }

    /* 4.0 Page Specific */

    /* * 4.1 Home * */

}
@media only screen and (max-width: 430px) {
    .cta-header h2 {
        font-size: 27px;
    }
    
    body.home .ldap h3,
    body.home .ldap h3 span {
        font-size: 40px;
    }
    
    .cta img, 
    .cta p {
        float: none;
        width: 100%;
    }
    
    .cta p a {
        background: #f07134;
        background-image: none;
    }
    
    .dig_bottom img {
        display: none;
    }
}
