/* ========== GLOBAL STYLES ========== */

body {
	background: #647a93 url('images/bg.gif') repeat-x top left;
	margin: 0;
	padding: 0;
	text-align: left;
	}
	
img {
	border: none;
	margin: 0;
	padding: 0;
	outline: none;
	}
	
img a:link, img a:visited { outline: none; }

.hr { height: 1px; border-top:1px solid #e8e8e8; width: 100%; margin: 10px auto; }  

/* ========== TEXT ========== */

p {
	font: normal 9pt Arial;
	line-height: 18px;
	color: #333;
	margin: 0 0 20px 0;
	padding: 0;
	}
	
table {
	font: normal 9pt Arial;
	line-height: 18px;
	color: #333;
	margin: 0 0 20px 0;
	padding: 0;
	}

div {
	margin: 0;
	padding: 0;
	}

h1 {
	color: #f57b20;
	font: bold 25pt Arial;
	line-height: 30pt;
	padding: 0 0 5px;
	margin: 0;
	}
	
h1.home { padding-bottom:10px; }
	
h2 {
	color: #5e748c;
	font: normal 14pt Arial;
	line-height: 17pt;
	padding: 0 0 20px;
	margin: 0;
	}
	
h3 {
	color: #333333;
	font: bold 11pt Arial;
	line-height: 14pt;
	padding: 0 0 7px 0;
	margin: 0;
	}

ul.list {
	margin:0 0 20px;
	padding:0;
	}

ul.list li {
	margin: 0 0 10px 10px;
	padding:0 0 0 12px;
	font: normal 9pt Arial;
	color: #333;
	list-style-type: none;
	line-height: 18px;
	}
	

ul.listWhite {
	margin:0 0 20px 0;
	padding:0;
	}
	
ul.listWhite li {
	margin: 0 0 0 10px;
	padding:0 0 0 12px;
	font: normal 9pt Arial;
	color: #333;
	list-style-type: none;
	line-height: 18px;
	}

.smallbold { 
	font: bold 10px Arial;
	color: #333; 
	}
	
td {
	font: normal 9pt Arial;
	}
	
td.date {
	font-weight: bold;
	text-align: right;
	}

.source {
	font-size: 6pt Arial !important;
	color: #CCC; }
	
/* ========== LINKS ========== */

a, a:visited {
	color: #f57b20;
	text-decoration: underline;
	outline: none;
	}

a:hover {
	color: #f57b20;
	text-decoration: none;
	}

a.learn {
	color:#f57b20;
	font:bold 10pt Arial;
	text-transform:uppercase;
	}

pre {
	background-color: #dde2e7;
	margin: 15px 30px;
	padding: 10px 10px;
	border: 1px solid #2d4b66;
	}

#logo {
	background:url('images/logo.gif') no-repeat top left;
	width:274px;
	height:99px;
	float:left;
	}

/* ========== Overall Styles ========== */

#wrapper {
	margin: 12px auto 20px auto;
	padding: 0;
	width: 924px;
	}
	
#content {
	width: 924px;
	border-bottom: 17px solid #1e324b;
	background: #FFF url(images/content_bg.gif) repeat-y top left;
	}

#footer {
	margin: 10px 20px 0 0;
	color: #9db2ce;
	font: normal 8pt Arial;
	width: 904px;
	text-align:right;
	}

#footer a:link, #footer a:visited {
	color: #9db2ce;
	font: normal 8pt Arial;
	text-decoration: none;
	}

#footer a:hover {
	color:#f57b20;
	text-decoration: underline;
	}

.boxheader {
	height:21px;
	width:304px;
	padding:5px 0 0 0;
	margin:0;
	}
	
.boxheader span {
	color:#FFF;
	font:bold 10pt Arial;
	padding:0 0 0 0;
	margin:0;
	}
	
.boxheader2liner {
	height:56px;
	color:#FFF;
	width:304px;
	font:bold 10pt Arial;
	padding:10px 10px 10px 10px;
	text-align:center;
	margin:0;
	clear:both;
	}

.boxcontent {
	width:294px;
	background:#ffc090;
	padding:10px 15px 5px 15px;
	margin: -20px 0 0 0;
	line-height: 18px !important;
	font:normal 8pt Arial;
	}

.news {
	width:125px;
	padding-top:20px;
	}

/* ======= LIST ITEMS ======= */

#headercontainer{ 
	width: 924px;
	height: 99px;
	margin: 0;
	padding: 0;
	}

#headertitle {
	background: url('images/nav_bg.gif') no-repeat top right;
	margin: 0;
	padding: 0;
	float:right;
	width:650px;
	height:99px;
	text-align: center
	}

